body {
    text-align: center;
    background-image: url('background.jpg');
}
h1{
    font-size: 5rem;
    color: red;
    text-shadow: 10px 0 yellow;
}
.drum{
    outline: none;
    border: 10px solid black;
    font-size: 5rem;
}
.press{
    box-shadow: 0 3px 4px 0 yellow;
    opacity: 0.6;
}